z
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Times New Roman', Times, serif
	font-size 10px;
}

ul#menu{
	background-color: #171717;
	line-height: 60px;
	width: 100%;
	position: fixed;
	text-align: center;
}

#menu li{
	display: inline;
}

#menu a:link, a:active{
	font-size: 1.5rem;
	padding: 22px;
	text-decoration: none;
	color: #d9d9d9;
	text-transform: uppercase;
}

#menu a:hover, a:visited{
	background-color: #444444;
	color: #d9d9d9;
}

#home{
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

#about{
	background-color: #3b3b3b;
	height: 100vh;
	padding: 50px;
	font-size: 1.5rem;
}

h1{
	margin-top: 80px;
	margin-bottom: 30px;
	text-align: center;
}

#music{
	background-color: #444444;
	height: 100vh;
	font-size: 1.5rem;
	padding: 50px;
	text-align: center;
}

#music video{
	width: 400px;
	height: 200px;
	border: 1px #FFF solid;
	margin: 30px;
	border-radius: 10px;
	box-shadow: 10px 10px 30px #000;
	display: flex;
}
#personagens{
	background-color: #5b5b5b;
	color: #FFF;
	padding: 50px;
	font-size: 1.5rem;
	text-align: center;
	height: 100vh;
}
#personagens input, textarea{
	width: 400px;
	padding: 15px;
	font-size: 1.2rem;
	border-radius: 10px;
	border: none;
}
footer{
	background-color: #000;
	color: #FFF;
	font-size: 1.1rem;
	text-align: center;
	padding: 10px;
}
.card {
	width: 300px;
	border: 1px solid #0e0d0d;
	border-radius: 4px;
	padding: 10px;
	background-color: #3a3838;
	box-shadow: 10px 10px 20px #000;
  }
  
  .card img {
	width: 100%;
	height: auto;
  }
  
  .card-description {
	margin-top: 10px;
  }
  
  .card-description h3 {
	font-size: 18px;
	margin-bottom: 5px;
  }
  
  .card-description p {
	font-size: 14px;
	color: #FFF;
  }
  .card-container {
	display: flex;
	justify-content: space-between;
  }
  
  .card {
	width: 300px;

  }
  